@bgColor: #666666;
@brown: #695f56;
@light: #f2e3b9;
@green: #76e443;
@red: #ea454b;


* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	line-height: 1.5;
	// background-color: #ccc;
}

input {
	// background: alpha(white, .3); 
}

.container {
	// background-color: white;
}

.jumbotron {
	margin-top: 60px;
}