span.username {
  padding-left: 10px;
}
div.center {
  width: 300px;
  margin: auto;
}
.navbar {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
}
.drop {
  border: 2px dashed #ff0000;
  width: 400px;
  height: 200px;
  color: #cccccc;
  margin: 20px;
  padding: 20px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding-top: 70px;
  font-size: 16px;
  line-height: 1.5;
}
.jumbotron {
  margin-top: 60px;
}
.row.withpadding {
  padding-top: 30px;
  padding-bottom: 30px;
}
#sliderGalleryNav {
  margin-top: 1em;
  text-align: center;
}

#sliderGalleryNav img {
  padding: 1em;
  margin-right: 1em;
  border-right: 10px;
  cursor: pointer;
  height: 70px;
}

#sliderGalleryNav img:hover{
  -webkit-filter: brightness(90%);
  filter: brightness(100%);
  -webkit-transition: all 300ms ease;
}

.sliderGallery {
  width: inherit;
  height: 500px;
  overflow: hidden;
}
.sliderGallery ul {
  width: 10000px;
  list-style-type: none;
}
.sliderGallery li {
  float: left;
}
.col-lg-3 {
  padding: 0px;
}
h1 {
  font-size: 2.8em;
}
h3 {
  margin-top: 10px;
}
.section-heading {
  margin-top: 20px;
}
.section-intro {
  margin-top: 200px;
}
.section-gallery {
  margin-top: 200px;
}
.section-email {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #cf615c;
}
.section-text {
  margin-top: 150px;
}
.section-location {
  margin-top: 150px;
}
.section-telnumber {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #cf615c;
}
.section-openinghours {
  margin-top: 150px;
}
.section-links {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #cf615c;
}
.section-eventcalender {
  margin-top: 150px;
}
.section-video {
  margin-top: 150px;
}
.section-team {
  margin-top: 150px;
  margin-bottom: 150px;
}
.white {
  color: #fff;
}
img:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
  -webkit-transition: all 300ms ease;
}
.verticaltable {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #000;
  font-weight: 200;
}
.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  color: #cf615c;
  text-transform: uppercase;
}
.line {
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
}
.link {
  margin-top: 20px;
  height: 30px;
}
.eventtable {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1em;
}
.eventtable tr {
  height: 40px;
}
.eventtable td:nth-child(1) {
  color: #cf615c;
  font-size: 1.3em;
  font-weight: 200;
}
.member {
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}
