@bgColor: #666666;
@brown: #695f56;
@light: #f2e3b9;
@green: #76e443;
@red: #ea454b;

div.center {
	width: 300px;
	margin: auto;
}

.navbar {
	border-radius: 0px;
	border: none;
}

.drop {
	border: 2px dashed #ff0000;
	width: 400px;
	height: 200px;
	color: #cccccc;
	margin: 20px;
	padding: 20px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 70px;
	font-size: 16px;
	line-height: 1.5;
	// background-color: #ccc;
}

input {
	// background: alpha(white, .3); 
}

.container {
	// background-color: white;
}

.jumbotron {
	margin-top: 60px;
}

.row.withpadding {
	padding-top: 30px;
	padding-bottom: 30px;	
}