* {
  padding: 0;
  margin: 0;
}
div.relativePosition {
  position: relative;
}
div.center {
  width: 300px;
  margin: auto;
}
html, body {
  height:100%;
}
.close {
  color: white;
  font-weight: bold;
}

/*===================================================================ONLINED HOMEPAGE start*/

/*======================================================index NAV BAR start*/

>>>>>>> 1d12bda79b1508863ec3f8d7af8a705d459ecc47
.form-group {
  margin-top: 8px;
  margin-bottom: 8px;
}
.btn {
  border: none;
  border-radius: 0px;
}
.btn:focus, .navbar-btn:focus {
  outline: none;
}
.navbar-btn {
  margin-top:0px;
  margin-bottom:0px;
  background-color: #89b504;
  color: white;
  border: none;
  border-radius: 0px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
}

span.username {
  padding-left: 10px;
}

.loginButton {
  padding-top: 25px;
  padding-right: 25px;
}
.registerForm {
  /*position: absolute;
  top: 0;
  left: 0;
  */
  /*display: none;*/
  margin: 0px;
  padding:0px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 0px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.registerForm input {
  border-radius:0px;
  border: none;
  color: #b2b2b2;
  text-transform: uppercase;
  margin-left:10px;
}

.registerForm:last-child {
  text-align:center;
}

.registerForm img {
  width: 32px;
}

.registerForm img:hover {
  width: 36px;
}

.navbar {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #5f5f5f;
  color: white;
}

a.navBrand {
  color:white;
  float:left;
  font-size: 18pt;
  line-height: 50px;
  font-family: "Calibri", sans-serif;
  padding-right: 30px;
}

.drop {
  border: 2px dashed #ff0000;
  width: 400px;
  height: 200px;
  color: #cccccc;
  margin: 20px;
  padding: 20px;
}

/*======================================================index NAV BAR end*/


.home {
  padding: 0px;
  display: table;
  width: 100%;
  height:100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/*======================================================home STREAM half start*/

.home div.streamRow {
  height: 100%;
  display: table-row;
}

.listsorting {
  float: right;
}

.numberofsites {
 }

.home div.stream {
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  display: table-cell;
  background-color: #313131;
  color: #ccc;
  float: none;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

.websiteListItem {
  height: 220px;
  color:white;
  position: relative;
  margin-top: 20px;
  background-position: 20% 20%;
  display:block;
  position:relative;
  cursor: pointer;
}

.websiteItemOverlay {
  opacity: .5;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 50;
  position: relative;
  -webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-ms-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;
}

.websiteItemOverlay:hover{
  opacity: .1;
}

.websiteItemContent {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
}

.home div.stream h2 {
  font-weight: 600;
  padding-top: 30px;
}

.home div.stream h3 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: -30px;
}

.home div.stream h4 {
  font-size: 18px;
}

/*======================================================home STREAM half end*/


/*======================================================home MY PAGES half start*/

.home div.myWebsites {
  display: table-cell;
  float: none;
}
.myWebsitesList {
  list-style: none;
  background-color: #89b504;
  color: white;
  height: 82px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 82px;
  cursor: pointer;
  position: relative;
}

.createWebsiteButton {
  display: block;
  color:white;
  text-decoration: none;
  width: 100%;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

.createWebsiteButton:hover{
  color: white;
  text-decoration: none;
  background-color: #a3ce22;
  font-size: 18px;
}

.myWebsiteListItem {
  position:relative;
  height: 100px;
  width: 100%;
  margin: 0px;
  margin-top: 20px;
  font-size: 16px;
  color:white;
  font-weight: bold;
  font-family: "Cantarell", sans-serif;
}

.myWebsiteItemOverlay {
  opacity: .3;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 50;
  -webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-ms-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;
}

.myWebsiteItemOverlay:hover{
  opacity: .1;
}

.myWebsiteItemContent {
  padding:10px;
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
}

.home div.myWebsites h2 {
  font-weight: 600;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: -5px;
}

.home div.myWebsites h3 {
  font-weight: 200;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  margin-bottom: -5px;
  margin-top: 10px;
}

.home div.myWebsites h4 {
  font-size: 18px;
}

.loginButton {
  padding-top: 25px;
  padding-right: 25px;
}
.registerForm {
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 0px;
  /*display: none;*/
  width:100%;
  margin: 0px;
  padding:0px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 0px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.registerForm input {
  border-radius:0px;
  border: none;
  color: #b2b2b2;
  text-transform: uppercase;
  margin-left:10px;
}
.registerForm:last-child {
  text-align:center;
}
.registerForm img {
  width: 32px;
}
.registerForm img:hover {
  width: 36px;
}
.navbar {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #5f5f5f;
  color: white;
}
a.navBrand {
  color:white;
  float:left;
  font-size: 18pt;
  line-height: 50px;
  font-family: "Calibri", sans-serif;
  padding-right: 30px;
}
/*======================================================home MY PAGES half end*/

/*===================================================================ONLINED HOMEPAGE end*/






/*===================================================================CREATE NEW PAGE start*/



/*======================================================SECTIONS NAV BAR start*/

ul.sectionsbar {
  list-style-type: none;
  margin: 0;
  /*margin-top: 12px;*/
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgba(0,0,0,0.7);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
}

ul.sectionsbar li {
    display: inline;
}

.sectionsbar a {
  color: #cb8383;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  letter-spacing: -1px;
  margin-right: 0.7%;
  margin-left: 0.7%;
}

.sectionsbar a.complete {
  color: #89b504;
}

.sectionsbar a.active {
  color: #fff;
  border-top: 3px solid #89b504;
  padding-top: 20px;
}

.sectionsbar a:hover{
  color: #fff;
  border-top: 3px solid #89b504;
  padding-top: 20px;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

/*======================================================SECTIONS NAV BAR end*/

/*======================================================GLOBAL SETTINGS start*/

body {
  font-family: "Cantarell", sans-serif;
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.5;
}
.row.withpadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.col-lg-3 {
  padding: 0px;
}

.editable {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.editable:hover {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #89b504;
  opacity: 0.6;
}

.reimg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reimg:hover {
  -webkit-box-shadow:inset 1px 1px 100px 1000px rgba(137,181,4,0.7);
box-shadow:inset 1px 1px 100px 100px rgba(137,181,4,0.7);
}

#input {
  /*transition: all 0.3s ease-in-out;*/
 /* -webkit-box-shadow: 0 0 8px 2px rgba(177,235,0,0.6);
  box-shadow: 0 0 8px 2px rgba(177,235,0,0.6);*/
  background: #89b504;
  /*background: red;*/
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  outline:none;
  border:0;
  width:100%;
}

h1 {
  font-size: 2.8em;
}

h3 {
  margin-top: 10px;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

.white {
  color: #fff;
}



#sliderGalleryNav {
  margin-top: 1em;
  text-align: center;
}

#sliderGalleryNav img {
  padding: 1em;
  margin-right: 1em;
  border-right: 10px;
  cursor: pointer;
  height: 70px;
}

#sliderGalleryNav img:hover{
  -webkit-filter: brightness(90%);
  filter: brightness(100%);
  -webkit-transition: all 300ms ease;
}

.sliderGallery {
  width: inherit;
  height: 500px;
  overflow: hidden;
}
.sliderGallery ul {
  width: 10000px;
  list-style-type: none;
}
.sliderGallery li {
  float: left;
}


//sectiongallery

ul.imageGallery {
  list-style: none;
}
ul.imageGallery li {
  float: left;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}



#topImage {
  margin: 0 auto;
} 





.onlinedlogo {
  height: 10px;
  width: 10px;
  border-radius: 300px;
  background-color: #89b504;
  position: fixed;
  z-index: 4;
  right: 24px;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}

.onlinedlogo:hover {
  height: 14px;
  width: 16px;
  background-color: #aade0d;
}

.logo {
  border-radius: 300px;
  width: 350px;
  height: 350px;
  display: none;
}
.rounded {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
}

.section-heading {
  margin-top: 20px;
}
.section-intro {
  margin-top: 200px;
}
.section-gallery {
  margin-top: 200px;
}
.section-email {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-text {
  margin-top: 150px;
}
.section-location {
  margin-top: 150px;
}
.section-telnumber {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-openinghours {
  margin-top: 150px;
}
.section-links {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-eventcalender {
  margin-top: 150px;
}
.section-video {
  margin-top: 150px;
}
.section-team {
  margin-top: 150px;
  margin-bottom: 150px;
}





.verticaltable {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #000;
  font-weight: 200;
}
.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  color: #bbbbbb;
  text-transform: uppercase;
}
.line {
  height: 1px;
  background-color: #bbbbbb;
  margin-bottom: 10px;
  margin-top: 10px;
}
.link {
  /*margin-top: 20px;*/
  height: 30px;
}
.eventtable {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1em;
}
.eventtable tr {
  height: 40px;
}
.eventtable td:nth-child(1) {
  color: #bbbbbb;
  font-size: 1.3em;
  font-weight: 200;
}
.member {
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
}




/*

-------------------- images for rollover

*/

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(137, 181, 4, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}
a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 180px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}


/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 2 - SLIDE IN TOP
============================================================ */
#effect-2 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-2 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  margin: -30px auto 0 auto;
}
#effect-2 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
#effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
#effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto 0 auto -30px;
}
#effect-3 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 4 - SLIDE IN RIGHT
============================================================ */
#effect-4 .overlay {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
}
#effect-4 .overlay a.expand {
  top: 0;
  bottom: 0;
  right: 50%;
  margin: auto -30px auto 0;
}
#effect-4 .img {
  overflow: hidden;
}
#effect-4 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */
#effect-5 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-5 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
  opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
