* {
  padding: 0;
  margin: 0;
}
.websiteItemOverlay {
  opacity: .5;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
}
.websiteItemContent {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
}
span.username {
  padding-left: 10px;
}
div.center {
  width: 300px;
  margin: auto;
}
html, body {
  height:100%;
}
.close {
  color: white;
  font-weight: bold;
}
.websiteListItem {
  height: 200px;
  margin: 20px;
  font-size: 30px;
  color:white;
  font-weight: bold;
  position: relative;
}
.myWebsiteListItem {
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  color:white;
  font-weight: bold;
}
.createWebsiteButton {
  display: block;
  color:white;
  text-decoration: none;
}
.home {
  padding: 0px;
  display: table;
  width: 100%;
  height:100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home div.streamRow {
  height: 100%;
  display: table-row;
}
.home div.stream {
  display: table-cell;
  background-color: #313131;
  color: #ccc;
  float: none;
  padding: 0px;
  margin: 0px;
}
.home div.myWebsites {
  display: table-cell;
  float: none;
}
.myWebsitesList {
  list-style: none;
  background-color: #89b504;
  color: white;
  height: 82px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 82px;
  cursor: pointer;
}
.loginButton {
  padding-top: 25px;
  padding-right: 25px;
}
.registerForm {
  /*position: absolute;
  top: 0;
  left: 0;
  */
  display: none;
  margin: 0px;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 0px;
  height: 82px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  width:60%;
  float:left;
}
.registerForm input {
  border-radius:0px;
  border: none;
  height: 40px;
  margin-top: 21px;
  color: #b2b2b2;
  text-transform: uppercase;
  margin-left:10px;
}
.registerForm:last-child {
  text-align:center;
}
.registerForm img {
  width: 32px;
  padding-top: 25px;
}
.registerForm img:hover {
  width: 36px;
  padding-top: 25px;
}
.navbar {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #5f5f5f;
  height: 82px;
  color: white;
}
a.navBrand {
  color:white;
  float:left;
  font-size: 26pt;
  font-family: "Calibri", sans-serif;
  padding-top: 10px;
  padding-right: 30px;
}
.navbar button {
  margin: 0px;
  background-color: #89b504;
  color: white;
  border: none;
  border-radius: 0px;
  height: 82px;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.drop {
  border: 2px dashed #ff0000;
  width: 400px;
  height: 200px;
  color: #cccccc;
  margin: 20px;
  padding: 20px;
}

/*sections nav bar*/

ul.sectionsbar {
  list-style-type: none;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgba(0,0,0,0.7);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
}

ul.sectionsbar li {
    display: inline;
}

.sectionsbar a {
  color: #cb8383;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 46px;
  letter-spacing: -1px;
  margin-right: 0.7%;
  margin-left: 0.7%;
}

.sectionsbar a.complete {
  color: #89b504;
}

.sectionsbar a.active {
  color: #fff;
  border-top: 3px solid #89b504;
  padding-top: 20px;
}

.sectionsbar a:hover{
  color: #fff;
  border-top: 3px solid #89b504;
  padding-top: 20px;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

/*sections nav bar end*/

body {
  padding-top: 70px;
  font-size: 16px;
  line-height: 1.5;
}
.jumbotron {
  margin-top: 60px;
}
.row.withpadding {
  padding-top: 30px;
  padding-bottom: 30px;
}
#sliderGalleryNav {
  margin-top: 1em;
  text-align: center;
}

#sliderGalleryNav img {
  padding: 1em;
  margin-right: 1em;
  border-right: 10px;
  cursor: pointer;
  height: 70px;
}

#sliderGalleryNav img:hover{
  -webkit-filter: brightness(90%);
  filter: brightness(100%);
  -webkit-transition: all 300ms ease;
}

.sliderGallery {
  width: inherit;
  height: 500px;
  overflow: hidden;
}
.sliderGallery ul {
  width: 10000px;
  list-style-type: none;
}
.sliderGallery li {
  float: left;
}


//sectiongallery

ul.imageGallery {
  list-style: none;
}
ul.imageGallery li {
  float: left;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

#input {
  /*transition: all 0.3s ease-in-out;*/
 /* -webkit-box-shadow: 0 0 8px 2px rgba(177,235,0,0.6);
  box-shadow: 0 0 8px 2px rgba(177,235,0,0.6);*/
  background: #89b504;
  /*background: red;*/
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  outline:none;
  border:0;
  width:100%;
}

#topImage {
  margin: 0 auto;
} 

.col-lg-3 {
  padding: 0px;
}

.editable {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.editable:hover {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #89b504;
  opacity: 0.6;
}

h1 {
  font-size: 2.8em;
}

h3 {
  margin-top: 10px;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

.onlinedlogo {
  height: 10px;
  width: 10px;
  border-radius: 300px;
  background-color: #89b504;
  position: fixed;
  z-index: 4;
  right: 24px;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}

.onlinedlogo:hover {
  height: 14px;
  width: 16px;
  background-color: #aade0d;
}

.logo {
  border-radius: 300px;
  width: 350px;
  height: 350px;
  display: none;
}
.rounded {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
}

.section-heading {
  margin-top: 20px;
}
.section-intro {
  margin-top: 200px;
}
.section-gallery {
  margin-top: 200px;
}
.section-email {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-text {
  margin-top: 150px;
}
.section-location {
  margin-top: 150px;
}
.section-telnumber {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-openinghours {
  margin-top: 150px;
}
.section-links {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
  background-color: #bbbbbb;
}
.section-eventcalender {
  margin-top: 150px;
}
.section-video {
  margin-top: 150px;
}
.section-team {
  margin-top: 150px;
  margin-bottom: 150px;
}
.white {
  color: #fff;
}

/*.reimg {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: url("/stars.png");
  clip-path: polygon(0px 208px, 146.5px 207px, 147px 141.2px);
}

.reimg:hover {
  -webkit-filter: brightness(0.7);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  -webkit-box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.6);

}*/

.reimg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.reimg:hover {
  -webkit-box-shadow:inset 1px 1px 100px 1000px rgba(137,181,4,0.7);
box-shadow:inset 1px 1px 100px 100px rgba(137,181,4,0.7);
}

.verticaltable {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #000;
  font-weight: 200;
}
.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  color: #bbbbbb;
  text-transform: uppercase;
}
.line {
  height: 1px;
  background-color: #bbbbbb;
  margin-bottom: 10px;
  margin-top: 10px;
}
.link {
  margin-top: 20px;
  height: 30px;
}
.eventtable {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1em;
}
.eventtable tr {
  height: 40px;
}
.eventtable td:nth-child(1) {
  color: #bbbbbb;
  font-size: 1.3em;
  font-weight: 200;
}
.member {
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
}




/*

-------------------- images for rollover

*/

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(137, 181, 4, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}
a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 180px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}


/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 2 - SLIDE IN TOP
============================================================ */
#effect-2 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-2 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  margin: -30px auto 0 auto;
}
#effect-2 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
#effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
#effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto 0 auto -30px;
}
#effect-3 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 4 - SLIDE IN RIGHT
============================================================ */
#effect-4 .overlay {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
}
#effect-4 .overlay a.expand {
  top: 0;
  bottom: 0;
  right: 50%;
  margin: auto -30px auto 0;
}
#effect-4 .img {
  overflow: hidden;
}
#effect-4 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */
#effect-5 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-5 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
  opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
