@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);


.createcontent {
  padding-top: 70px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  background: url(/stardust.png);
}

.createcontent h1 {
  font-family: 'Amatic SC', cursive;
  margin-top: 20px;
  font-size: 4.5em;
  letter-spacing: -2px;
  color: #ff6445;
}

.createcontent h2 {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 2.2em;
  letter-spacing: 2px;
}

.createcontent h3 {
  font-family: 'Amatic SC', cursive;
  margin-top: 10px;
  color: #ff6445;
  font-size: 2.6em;
}

.createcontent h4 {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 2.2em;
  letter-spacing: 2px;
}

.createcontent h5 {
  font-size: 1.5em;
  color: #ff6445;
  font-family: 'Amatic SC', cursive;
}

.createcontent h6 {
  font-size: 1em;
}

#paragraph {
  font-size: 19px;
}

.rounded {
  border-radius: 2px;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  background-size: 250%;
}

.introtext {
  margin-left: -40px;
}

.section-email {
  padding-top: 160px;
  padding-bottom: 160px;
  margin-top: 150px;
  background-color:rgba(0,0,0,0.4);
  background-image: url(/stars.png);
  background-repeat: no-repeat;
}

.section-telnumber {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 150px;
  background-color:rgba(0,0,0,0.4);
  background-image: url(/stars.png);
  background-repeat: no-repeat;
}

.section-links {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 150px;
  background-color:rgba(0,0,0,0.4);
  background-image: url(/stars.png);
  background-repeat: no-repeat;
}

.textureline {
display: none;
}

.textp {
  background-color:rgba(0,0,0,0.4);
  padding: 15px;
  margin-right: 10px;
  max-width: 32%;
  min-height: 300px;
}

.textp:last-child {
  background-color:rgba(0,0,0,0.4);
  padding: 10px;
  margin-right: 0px;
}

.verticaltable {
  width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #fff;
  font-weight: 200;
}

.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

.verticaltable td {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.createcontent.line {
  height: 1px;
  background-color: #fff;
  margin-bottom: 12px;
  margin-top: 12px;
}

.section-products img {
  min-height: 200px;
  max-height: 300px;
  max-width: 80%;
  border-radius: 3px;
}

.member {
  border-radius: 3px;
  height: 150px;
  width: 150px;
}

