@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,500italic);


.createcontent {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.createcontent h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
  font-size: 5.5em;
  color: #e50000;
}

.createcontent h2 {
  font-family: 'Oswald', sans-serif;
  color: #000;
  font-size: 24px;
}

.createcontent h3 {
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  color: #e50000;
  font-size: 2em;
}

.createcontent h4 {
  color: #fff;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

.createcontent h5 {
  font-size: 1em;
}

.createcontent h6 {
  font-size: 1em;
}

.section-location h4 {
  color: black;
}

.section-team h4 {
  color: #e50000;
}

#paragraph {
  font-size: 19px;
}

.createcontent .glyphicon {
  color: #e50000;
}

.white {
  color: #e50000;
}

.rounded {
  border-radius: 0px;
  width: 260px;
  height: 260px;
  background-position: 50% 50%;
  background-size: 250%;
}

.introtext {
  margin-left: -40px;
}

.section-email {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: black;
}

.section-telnumber {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: black;
}

.section-links {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: black;
}

.textureline {
  background-color: black;
  height: 10px;
  width: 100%;
   margin-top: 40px;
  margin-bottom: -130px;
}

.verticaltable {
  width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #000;
  font-weight: 200;
}
.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #e50000;
}

.verticaltable td {
  font-weight: 300;
}

.createcontent .line {
  height: 1px;
  background-color: #000;
  margin-bottom: 12px;
  margin-top: 12px;
}

.section-products img {
  min-height: 200px;
  max-height: 300px;
  max-width: 80%;
  border-radius: 0px;
}

.member {
  border-radius: 0px;
  height: 150px;
  width: 150px;
}

