@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700italic);
@import url(http://fonts.googleapis.com/css?family=Allura);


.createcontent {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #82735E;
  background-color: #f9f7f6;
}

.createcontent h1 {
  font-family: 'Allura', cursive;
  margin-top: 60px;
  font-size: 5.5em;
  color: #e29f81;
}

.createcontent h2 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: #CCBD9B;
  font-size: 22px;
  margin-top: -10px;
}

.createcontent h3 {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-top: 10px;
  color: #CCBD9B;
  font-size: 2em;
}
.createcontent h4 {
  color: #82735E;
  font-weight: 300;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 24px;
}

.createcontent h5 {
  font-size: 1em;
}

.createcontent h6 {
  font-size: 1em;
}

#paragraph {
  font-size: 19px;
}

.rounded {
  border-radius: 3px;
  width: 440px;
  height: 240px;
  background-position: 50% 50%;
  background-size: 250%;
}

.section-email {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: #f7e6d7;
  outline: 2px solid #f7e6d7;
  outline-offset: 3px;
  background-image: url(/binding3.png);
}

.section-telnumber {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: #f7e6d7;
  outline: 2px solid #f7e6d7;
  outline-offset: 3px;
  background-image: url(/binding3.png);
}

.section-links {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-top: 190px;
  background-color: #f7e6d7;
  outline: 2px solid #f7e6d7;
  outline-offset: 3px;
  background-image: url(/binding3.png);
}

.textureline {
  background-image: url(/binding3.png);
  height: 4px;
  width: 100%;
  outline: 2px solid #f7e6d7;
  outline-offset: 4px;
  margin-top: 40px;
  margin-bottom: -130px;
}

.verticaltable {
  width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: #82735E;
  font-weight: 200;
}
.verticaltable th {
  text-align: center;
  font-size: 1.2em;
  color: #CCBD9B;
  text-transform: uppercase;
  font-style: italic;
}

.verticaltable td {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.createcontent.line {
  height: 1px;
  background-color: #CCBD9B;
  margin-bottom: 12px;
  margin-top: 12px;
}

.section-products img {
  min-height: 200px;
  max-height: 300px;
  max-width: 80%;
  border-radius: 3px;
}

.member {
  border-radius: 3px;
  height: 150px;
  width: 150px;
}

