<template name="create">
	<div class="container topgap"></div>
	<div class="row">
		<div class="col-lg-9">
			<div class="container firstsection">
				<h1>
					<input class="textInput firstTextField text-center" style="display:none" type="text" focused placeholder="enter something smart" value="{{textValue}}" />
				</h1>
				<p class="editableTextField firstTextField text-center">{{textValue}}</p>
			</div>
			<div class="container secondsection hidden text-center">
				<div class="drop">
					<img class="img-rounded" src="{{imageToUpload}}" />
				</div>
			</div>
			<div class="container thirdsection hidden text-center">
				<h1>About us</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ea facere fugiat dolor ipsa officia, amet corporis, numquam asperiores velit?</p>
			</div>
		</div>	
		<div class="col-lg-3">
				<ul class="editpanel">
					<li class="firstsectionEdit edit">
						<div class="row-fluid">
							<div class="col-lg-2"><span class="glyphicon glyphicon-edit icon"></span></div>
							<div class="col-lg-10"><span class="panelItemLabel">Title</span></div>
						</div>
					</li>
					<li class="secondsectionEdit hidden edit">
						<div class="row-fluid">
							<div class="col-lg-2"><span class="glyphicon glyphicon-edit icon"></span></div>
							<div class="col-lg-10"><span class="panelItemLabel">Image</span></div>
						</div>
					</li>
					<li class="thirdsectionEdit hidden done">
						<div class="row-fluid">
							<div class="col-lg-2"><span class="glyphicon glyphicon-edit icon hidden"></span></div>
							<div class="col-lg-8"><span class="panelItemLabel">About us</span></div>
							<div class="col-lg-2"><span class="glyphicon glyphicon-eye-open showicon pull-right"></span></div>
						</div>
					</li>
				</ul>	
			</div>				
	</div>
</template>