<template name="editText">
	<div class="container topgap"></div>
	<div class="row">
		<div class="col-lg-9">
			<div class="container firstsection">
				<h1>
					<input class="textInput" style="display:none" type="text" focused placeholder="enter something smart" value="{{textValue}}" />
				</h1>
				<h1 class="editableTextField">{{textValue}}</h1>
				{{#if alert}}
					<div class="alert alert-warning" role="alert">{{alert}}</div>
				{{/if}}
				<div class="pull-right"><a class="btn btn-{{status}} btn-lg continue" role="button">Continue</a></div>
			</div>
		</div>	
		<div class="col-lg-3">EDIT PANEL</div>
	</div>
</template>