<head>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script>
	WebFont.load({
		google: {
			families: ["Oswald:300,400,700","Droid Sans:400,700"]
		}
	});
	</script>
</head>


<template name="OnlinedIndex">
	<!-- <div class="todos-panel">
		{{> CreateTodoItem}}
		<ul class="todos-list">
			{{#each items}}
				<li class="todo-item {{isDoneClass}}">
					{{> TodoItem}}
				</li>
			{{else}}
				<li class="todo-item empty">
					No todos yet.
				</li>
			{{/each}}
		</ul>

		{{>TodosCount}}
	</div> -->

	



	<div class="header-section">
		<div class="w-container containerheader">
			<div>
				<div class="w-clearfix header-block">
					<h1 class="-wfp-hover">COMPANY&nbsp;NAME</h1>
					<div class="tagline">we never stop before
						<br>we reach the top</div>
						<img class="sipkydolu" src="sipkydolu.png" alt="53ba8503bfa4ff431ec735f1_sipkydolu.png">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="divider bezpasku"></div>
			<div class="divider"></div>
		</div>
		<div class="whitesection">
			<div class="w-container">
				<div class="w-row">
					<div class="w-col w-col-6">
						<div class="div-for-about">
							<img class="sipky_sede" src="sipkygray.png" alt="53ba86b9738574441e05476a_sipkygray.png"><a class="button" href="#"><span class="telnumber">00420 606 777 883</span></a><a class="button" href="#"><span class="telnumber">&nbsp;ourcompany@mail.com&nbsp;</span></a>
						</div>
					</div>
					<div class="w-col w-col-6">
						<div class="div-for-about">
							<img src="sipkybarev_blue.png" alt="53ba9425bfa4ff431ec736ec_sipkybarev_blue.png">
							<h3>About us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
								cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tomatosection">
				<div class="w-container">
					<div class="w-row">
						<div class="w-col w-col-6">
							<div class="div-for-about">
								<img src="iclocation_white.png" alt="53ba890cbfa4ff431ec7362c_iclocation_white.png">
								<h3 class="whiteheadings">Location</h3>
								<p class="whiteparagraph">Our Company s.r.o.
									<br>47 Down's Park Crescent,
									<br>Totton, Southampton,
									<br>Hampshire SO40 9GR,
									<br>Great Brittain</p>
								</div>
							</div>
							<div class="w-col w-col-6">
								<div class="div-for-about">
									<img src="ichours_white.png" alt="53ba897a9c164a780238285a_ichours_white.png">
									<h3 class="whiteheadings">Opening Hours</h3>
									<p class="whiteparagraph">Mon 7-18
										<br>Tue 7-18
										<br>Wed 7-18
										<br>Thu 7-18
										<br>Fri 7-18
										<br>Sat/Sun closed</p>
									</div>
								</div>
							</div>
						</div>

						<!-- <input type="text" id="autocomplete" />
						<div class="map" id="map" ></div> -->
						<!-- <div style="height:100%" id="map" ></div> -->


						<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
						<div id="map-location"></div>


					</div>
					<div class="gallery-testa-section">
						<div class="row-fluid imagesScaling">
							<div class="span12">
								<div class="row-fluid">
									<div class="span4">
										<img class="galleryimg" src="Business-Image-Clearfield-Utah.jpg" height="350" alt="53b69818ce70bd047992c60a_Business-Image-Clearfield-Utah.jpg">
									</div>
									<div class="span4">
										<img class="galleryimg smaller" src="Comfortable-Office-Room-Open-Space.jpg" height="350" alt="53b69868ce70bd047992c614_Comfortable-Office-Room-Open-Space.jpg">
									</div>
									<div class="span4"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tomatosection testam">
						<div class="w-container testamonialcontainer">
							<div class="w-clearfix testamonial-div">
								<img class="testamonial-pic" src="testamonial.png" width="130" alt="53b699dee05702c711d01136_testamonial.png">
								<div class="testimonial">I tried your product and it had so many
									<br>positive effects on my life I can’t even describe it.
									<br>Definitely recommended!</div>
									<div class="name">- Anna from Prague</div>
								</div>
							</div>
						</div>
						<div class="product-section2">
							<div class="w-container containers">
								<img class="product-icon" src="icheart_blue.png" alt="53ba9430738574441e05482a_icheart_blue.png">
								<div class="w-row _3col-row">
									<div class="w-col w-col-4">
										<img src="5.jpg" alt="53b69c435fa5dcc911ad5445_5.jpg">
									</div>
									<div class="w-col w-col-4">
										<div class="div-for-about">
											<h3>Our Product</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus.</p>
										</div>
									</div>
									<div class="w-col w-col-4">
										<div class="div-for-about">
											<h3>Our Product</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tomatosection teamsection">
							<div class="w-container containers">
								<img class="teamicon" src="icteam_white.png" alt="53ba8ba59c164a7802382896_icteam_white.png">
								<h3 class="whiteheadings">Meet the team</h3>
								<div class="people">
									<a class="w-inline-block team" href="#"></a>
									<a class="w-inline-block team mate2" href="#"></a>
									<a class="w-inline-block team mate3" href="#"></a>
								</div>
								<div class="w-row">
									<div class="w-col w-col-4">
										<h4>Amazing Founder</h4>
										<div class="occupation">CEO Founder</div>
									</div>
									<div class="w-col w-col-4">
										<h4>Great Cofounder</h4>
										<div class="occupation">Cofounder, Director</div>
									</div>
									<div class="w-col w-col-4">
										<h4>Beautiful Assistant</h4>
										<div class="occupation">Designer, assistant</div>
									</div>
								</div>
							</div>
						</div>



					</template>
