/*****************************************************************************/
/* OnlinedIndex: Style */
/*****************************************************************************/

/*.input-border-focus {
  outline: none;
  border: none;
}*/

.drop {
  border: 2px dashed #ff0000;
  width: 600px;
  height: 400px;
  color: #cccccc;
  margin: 20px;
  padding: 20px;
}

body {
  margin-bottom: 0px;
  padding: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.companyName {
  outline:none;
  display: block;
  height: 100px;
  margin: 0px auto;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  /*border: 2px solid #016e71;*/
  opacity: 1;
  font-family: Oswald, sans-serif;
  color: #016e71;
  font-size: 72px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
}

.companyNameHover:hover {
  /*outline:none;
  border:none;
  background: rgba(211, 130, 175, .3);
  border-radius: 50px;*/
  border-radius: 8px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 8px 1px inset, black 0px 0px 1px 0px, #73e535 0px 0px 2px 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}

.cni:focus {
  outline:none;
}

.cni {
  /*outline:none;
  border:none;
  background: rgba(211, 130, 175, .3);*/
   display: block;
  height: 100px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  opacity: 1;
  font-family: Oswald, sans-serif;
  color: #016e71;
  font-size: 60px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  outline:none;
  border:none;

}

.highlight {
  padding: 10px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 8px 1px inset, black 0px 0px 1px 0px, #73e535 0px 0px 2px 2px;
}

/*tagline*/
.tagline {
  margin: 15px 0px 0px 30px;
  float: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #016e71;
  font-size: 28px;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  display:block;
}

.taglineHover:hover {
  outline:none;
  border:none;
  padding: 10px;
  /*background: rgba(211, 130, 175, .3);
  border-radius: 50px;*/
  border-radius: 8px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 8px 1px inset, black 0px 0px 1px 0px, #73e535 0px 0px 2px 2px;
}

.taglineInput:focus {
  outline:none;
}

.taglineInput {
  outline:none;
  border:none;
  margin: 15px 0px 0px 30px;
  float: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #016e71;
  font-size: 28px;
  line-height: 26px;
  font-style: normal;
  text-align: left;
}

/*tooltip*/
.tooltipNew {
  width:450px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: #73e535;
  /*background-image: url('tuzkaicon_white_lezici.png');*/
  background-position: 16px 50%;
  background-size: 45px;
  background-repeat: no-repeat;
  box-shadow: #c3f5a9 -1px -6px 6px -3px, rgba(0, 0, 0, 0.09) 0px 5px 11px 0px inset, #73e535 0px 0px 6px 0px;
  text-align: left;
/*  -webkit-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;*/
/*  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;*/
}

.tooltipNew:hover {
  opacity: 0.5;
}

.tooltip-text {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 6px;
  font-family:'Droid Sans', sans-serif;
  color: gray;
  font-size: 14px;
  text-align: center;
}

html.w-mod-js.w-mod-no-ios *[data-ix="come-from-left"] {
  opacity: 0;
  -webkit-transform: translate(0px, 41px);
  -ms-transform: translate(0px, 41px);
  -o-transform: translate(0px, 41px);
  transform: translate(0px, 41px);
}


.companyName:hover {
}
.companyName:active {
}
.companyName:focus {
  background-color: #76e443;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family:'Droid Sans', sans-serif;
  color: #01a2a6;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Droid Sans', sans-serif;
  color: #7d7d7d;
}
.button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 8px 4px;
  border: 2px solid #01a2a6;
  background-color: transparent;
  color: #fe524c;
  text-align: center;
  text-decoration: none;
}
.about-section {
  padding-top: 0px;
  padding-bottom: 60px;
  padding-left: 500px;
  background-color: white;
}
.div-for-about {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.div-for-about.margin {
  margin-top: 35px;
}
.contact-section {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 500px;
  background-color: #d8f5f4;
  text-align: center;
}
.table {
  display: block;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.left {
  display: block;
  width: 167px;
  margin-right: auto;
  margin-left: auto;
  font-family:'Droid Sans', sans-serif;
  text-align: left;
}
.highlighted {
  color: #016e71;
}
.map {
  height: 200px;
  margin-top: 100px;
  margin-bottom: 0px;
}
.gallery-div {
  padding-top: 0px;
  padding-bottom: 0px;
}
.galleryimg {
  margin-right: 5px;
  margin-left: 5px;
}
.galleryimg.leftimg {
  margin-left: -483px;
}
.galleryimg.smaller {
  width: 520px;
  height: 350px;
}
.gallery-testa-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
  text-align: center;
}
.testamonial-div {
  display: block;
  width: 700px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
.testamonial-pic {
  float: left;
}
.testimonial {
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}
.name {
  margin-top: 17px;
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 18px;
  text-align: right;
}
.product-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #d8f5f4;
  text-align: center;
}
._3col-row {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.product-section2 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.product-icon {
  margin-bottom: 47px;
}
.containers {
  text-align: center;
}
.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #d8f5f4;
  text-align: center;
}
.team {
  min-height: 130px;
  min-width: 130px;
  margin-top: 60px;
  margin-right: 90px;
  margin-left: 90px;
  border-radius: 80px;
  background-image: url('SHORTTAKES-young-woman.jpg');
  background-position: 121% 50%;
  background-size: 200px;
}
.team.mate2 {
  background-image: url('Portrait-Image.jpg');
  background-position: 50% 35%;
  background-size: 150px;
  background-repeat: no-repeat;
}
.team.mate3 {
  background-image: url('young-business-people2.jpg');
  background-position: 72% 1%;
  background-size: 400px;
  background-repeat: no-repeat;
}
.occupation {
  font-family:'Droid Sans', sans-serif;
  color: white;
}
.header {
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: 400px;
  padding-top: 75px;
  padding-bottom: 275px;
  background-color: #29d9c2;
}
.tel-block {
  height: 138px;
  background-color: rgba(255, 255, 255, 0.29);
  background-image: url('tel_ic.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.tel-block.mailblock {
  margin-top: 15px;
  background-image: url('mail_ic.png');
}
.telmail {
  position: static;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 90px;
  margin-right: 0px;
  padding-right: 85px;
  float: right;
  clear: none;
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 20px;
}
.telmail.bigger {
  font-size: 25px;
}
.header-section {
  background-image: url('headerimg_medic.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.containerheader {
  height: 868px;
}
.header-block {
  position: absolute;
  width: auto;
  margin-top: 500px;
}
.sipkydolu {
  display: block;
  margin-top: 60px;
  margin-left: 25px;
  background-image: url('sipkydolu.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.divider {
  height: 8px;
  background-color: #01a2a6;
  background-image: url('paskypng.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.divider.bezpasku {
  background-color: #01a2a6;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.whitesection {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: transparent;
}
.telnumber {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Oswald, sans-serif;
  color: #01a2a6;
  font-size: 28px;
}
.sipky_sede {
  margin-bottom: 53px;
}
.tomatosection {
  padding-top: 120px;
  padding-bottom: 15px;
  background-color: #01a2a6;
  background-image: url('paskypng.png');
  background-position: 50% 0px;
  background-repeat: no-repeat;
}
.tomatosection.testam {
  padding-top: 120px;
  padding-bottom: 120px;
}
.tomatosection.teamsection {
  padding-bottom: 120px;
}
.whiteparagraph {
  color: white;
}
.whiteheadings {
  margin-top: 1px;
  color: white;
}
.testamonialcontainer {
  margin-top: -75px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.teamicon {
  margin-bottom: 18px;
}
.form-button-h1 {
  width: 300px;
  height: 100px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid black;
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: #016e71;
  font-size: 43px;
  text-align: center;
}
.overlay {
  position: absolute;
  margin-top: 0px;
}


/*map*/
#map-location {
  height: 400px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  height: 2px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  height: 50px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.imagesScaling img {
  max-width: 100%
}

