<template name="dashboard">
		<div class="container">
			{{> adminHeader}}
			<div class="row">
				<div class="col-md-6">
					<div class="page-header">
						<h2>Templates</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="pull-right">
						<a class="btn btn-default btn-md" role="button" href="{{pathFor 'onlined'}}">Demo</a>
						<a class="btn btn-primary btn-md" role="button" href="/admin/templates/new">Create new template</a>
			  		</div>
				</div>
			</div>

			<ul class="list-group">
				{{#each templates}}
				<li class="list-group-item">{{> websiteTemplate}}</li>
				{{/each}}
			</ul>	  

					<!-- <div>
		      {{> reactiveTable collection=templates settings=settings}}
		 </div> -->
		</div>
</template>