<template name="layout">
	<head>
	  <title>Onlined</title>
	</head>

	<div class="container-fluid">
  		{{> yield}}
	</div>
</template>


<template name="home">
	<div class="jumbotron">
		<h1>Webstránka za pár (2) minút</h1>
		<hr>
			<ul class="list-group">
				<li class="list-group-item">Žiadna registrácia</li>
				<li class="list-group-item">Žiadny administračný panel</li>
				<li class="list-group-item">Žiadny poplatok</li>
				<li class="list-group-item">Žiadne starosti</li>
			</ul>
		<hr>
		<a href="{{pathFor 'create'}}" class="btn btn-primary btn-lg firma" role="button">ZAČNI TVORIŤ</a>

		<!-- <a class="btn btn-primary btn-lg" role="button">GRAFICKY DESIGNER</a>
		<a href="{{pathFor 'editText'}}" class="btn btn-primary btn-lg" role="button">DOG LOVER</a>
		<div class="container">
			<img src="pacman.png" style="width:100px;position:absolute;" class="pacman" />
		</div> -->
	</div>
</template>