<template name="home">
		<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
			<nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link nav-link" href="#proc" data-ix="up">Proč</a><a class="w-nav-link nav-link" href="#mise" data-ix="up">Mise</a><a class="w-nav-link nav-link" href="#client-section" data-ix="up">Klienti</a><a class="w-nav-link nav-link" href="#kontakt"
				data-ix="up">Kontakt</a>
			</nav>
			<a class="w-nav-brand brand" href="#">
				<img src="200px_onwhite.png" width="125" alt="53c6769b2b4e1fac4ccdfb51_200px_onwhite.png">
			</a>
			<div class="w-nav-button">
				<div class="w-icon-nav-menu"></div>
			</div>
		</div>
		<div class="whitesection">
			<div class="content-wrapper-centered">
				<h1>Chci webovou stránku</h1>
				<div class="subheader">za <a class="link-in-text" href="#tabs">pár minut</a>, bez potřeby <a class="link-in-text" href="#tabs">technického </a>zázemí, <a class="link-in-text" href="#tabs">designových </a>znalostí, bez <a class="link-in-text" href="#tabs">registrace, </a>bez
					přemýšlení, zdarma.</div>
					<img class="rozcestnik" src="rozcestnik_3shoulder.png" alt="53c7903bdb1405c65614f90b_rozcestnik_3shoulder.png">
				</div>
			</div>
			<div class="whitesection" id="proc">
				<div class="w-container content-wrapper-centered">
					<h1>Proč být onlined?</h1>
				</div>
				<div class="w-tabs tabs" id="tabs" data-duration-in="300" data-duration-out="100">
					<div class="w-tab-menu tabs-menu">
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 1">
							<img src="1nosignup.png" height="40" alt="53c67ebbb7dbbfc06ac7628f_1nosignup.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 2">
							<img src="2responsive.png" height="40" alt="53c67fa9c871bbbf6a8974af_2responsive.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 3">
							<img class="icon" src="3noadmin.png" height="40" alt="53c67f2ec86102ad4cac67fd_3noadmin.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 4">
							<img src="4fast.png" height="40" alt="53c67f4cb7dbbfc06ac76295_4fast.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 5">
							<img src="5temlates.png" height="46" alt="53c67f54b7dbbfc06ac76299_5temlates.png">
						</a>
						<a class="w-tab-link w--current w-inline-block tab-with-icon" data-w-tab="Tab 6">
							<img src="6notechskills.png" height="40" alt="53c67f5dc871bbbf6a8974a9_6notechskills.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 7">
							<img src="7secure.png" height="40" alt="53c67f64b7dbbfc06ac7629b_7secure.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 8">
							<img src="8onepage.png" height="40" alt="53c67f6a2b4e1fac4ccdfbd9_8onepage.png">
						</a>
						<a class="w-tab-link w-inline-block tab-with-icon" data-w-tab="Tab 9">
							<img src="9reactive.png" height="40" alt="53c67f6fb7dbbfc06ac7629c_9reactive.png">
						</a>
					</div>
					<div class="w-tab-content">
						<div class="w-tab-pane tabinside" data-w-tab="Tab 1">
							<h2>Žádná registrace.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 2">
							<h2>Responzivní.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 3">
							<h2>Žádný admin.</h2>
							<div class="description">This is some text description of the feature.</div>
							<img class="picture-inside-tab" src="ipadwhite_thai.png" alt="53c6844bc86102ad4cac689a_ipadwhite_thai.png">
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 4">
							<h2>Ultra rychlost.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 5">
							<h2>15 layoutů.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane w--tab-active tabinside" data-w-tab="Tab 6">
							<h2>Nemusíte to chápat.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 7">
							<h2>Bezpečný.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 8">
							<h2>Jedna stránka.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
						<div class="w-tab-pane tabinside" data-w-tab="Tab 9">
							<h2>Reaktivní.</h2>
							<div class="description">This is some text description of the feature.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="whitesection" id="mise">
				<div class="w-container content-wrapper-centered">
					<div class="w-row">
						<div class="w-col w-col-4">
							<img src="ico1.png" height="40" alt="53c687e1b7dbbfc06ac763ce_ico1.png">
							<h3>naše&nbsp;<span class="bold">mise</span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
								id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
							</div>
							<div class="w-col w-col-4">
								<img src="ico2.png" height="40" alt="53c6884cc871bbbf6a897538_ico2.png">
								<h3>naše&nbsp;<span class="bold">vize</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
									id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
								</div>
								<div class="w-col w-col-4">
									<img src="ico3.png" height="40" alt="53c688772b4e1fac4ccdfc50_ico3.png">
									<h3>naše&nbsp;<span class="bold">principy</span></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
										id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="dark-section" id="client-section">
							<div class="w-container content-wrapper-centered">
								<h1 class="white">Co o nás říkají?</h1>
								<div class="w-slider client-slider" data-animation="slide" data-duration="700" data-infinite="1" data-delay="3000" data-autoplay="1">
									<div class="w-slider-mask">
										<div class="w-slide testamonial-slide">
											<div>
												<img src="cust1.png" height="160" alt="53c689aec86102ad4cac690f_cust1.png">
												<h4>Derek</h4><a class="link" href="#">dereksmithson.onlined.com</a>
												<p class="testamonial-paragraph">“Onlined totally rocks, you can create your website very fast and with no technical skills. My website was up in fifteen minutes!”</p>
											</div>
										</div>
										<div class="w-slide testamonial-slide">
											<div>
												<img src="cust3.png" height="160" alt="53c68b98c871bbbf6a897572_cust3.png">
												<h4>Chris</h4><a class="link" href="#">chrisesdogs.onlined.com</a>
												<p class="testamonial-paragraph">“Onlined totally rocks, you can create your website very fast and with no technical skills. My website was up in fifteen minutes!”</p>
											</div>
										</div>
										<div class="w-slide testamonial-slide">
											<div>
												<img src="cust2.png" height="160" alt="53c68bcac86102ad4cac6942_cust2.png">
												<h4>Denisa</h4><a class="link" href="#">denisaje.onlined.com</a>
												<p class="testamonial-paragraph">“Onlined totally rocks, you can create your website very fast and with no technical skills. My website was up in fifteen minutes!”</p>
											</div>
										</div>
									</div>
									<div class="w-slider-arrow-left">
										<div class="w-icon-slider-left"></div>
									</div>
									<div class="w-slider-arrow-right">
										<div class="w-icon-slider-right"></div>
									</div>
									<div class="w-slider-nav w-round"></div>
								</div>
							</div>
						</div>
						<div class="purple-section" id="kontakt">
							<div class="w-row two-column">
								<div class="w-col w-col-6 column-centered paddingleft">
									<img src="Location-Marker-128.png" height="75" alt="53c691d7b7dbbfc06ac764e4_Location-Marker-128.png">
									<img class="logo" src="200px_ondark.png" alt="53c68eafc86102ad4cac69c6_200px_ondark.png"><a class="email" href="mailto:onlined@onlined.com?subject=onlined%40onlined.com">onlined@onlined.com</a>
									<div class="telephone">00420 602 259 394</div>
									<div class="telephone">00420 774 238 662</div>
									<div class="w-widget w-widget-map map" data-widget-latlng="50.075538,14.4378" data-widget-style="roadmap" data-widget-zoom="12"></div>
								</div>
								<div class="w-col w-col-6 column-centered paddingright">
									<img src="Heart-128.png" height="75" alt="53c69200b7dbbfc06ac764e8_Heart-128.png">
									<h2>Máte něco na srdci?</h2>
									<div class="w-form form-wrapper">
										<form id="email-form" name="email-form" data-name="Email Form">
											<input class="w-input short-field" id="name" type="text" placeholder="jméno" name="name" data-name="Name">
											<input class="w-input short-field" id="email" type="email" placeholder="email" name="email" data-name="Email" required="required">
											<textarea class="w-input long-field" id="field" placeholder="..." name="field"></textarea>
											<input class="w-button submit-button" type="submit" value="odeslat" data-wait="Please wait...">
										</form>
										<div class="w-form-done">
											<p>Thank you! Your submission has been received!</p>
										</div>
										<div class="w-form-fail">
											<p>Oops! Something went wrong while submitting the form :(</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="footer">
							<div class="w-container content-wrapper-centered">
								<div class="w-row">
									<div class="w-col w-col-6 w-clearfix">
										<div class="powered">powered by</div>
									</div>
									<div class="w-col w-col-6 w-clearfix">
										<img class="footerlogo" src="200px_onwhite.png" height="24" alt="53c6769b2b4e1fac4ccdfb51_200px_onwhite.png">
									</div>
								</div>
							</div>
						</div>
					</template>