body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 18px;
  font-family:'Droid Sans', sans-serif;
  color: #746a5d;
  font-size: 54px;
  line-height: 44px;
  font-weight: 400;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 34px;
  line-height: 36px;
  font-weight: 400;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'Droid Sans', sans-serif;
  color: #746a5d;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin-top: 18px;
  margin-bottom: 10px;
  color: white;
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  max-width: 250px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  font-family:'Droid Sans', sans-serif;
  color: #746a5d;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.whitesection {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: white;
}
.dark-section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #4d4132;
}
.brand {
  padding-top: 3px;
  float: right;
}
.navbar {
  padding-top: 14px;
  padding-right: 70px;
  padding-bottom: 6px;
  border-bottom: 1px none #71e635;
  background-color: transparent;
}
.content-wrapper-centered {
  text-align: center;
}
.subheader {
  font-family:'Droid Sans', sans-serif;
  color: #746a5d;
  font-size: 20px;
}
.rozcestnik {
  margin-top: 100px;
}
.tab-with-icon {
  padding-bottom: 30px;
  background-color: transparent;
}
.tab-with-icon.w--current {
  background-color: transparent;
  background-image: url('tecka.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.tabs {
  margin-top: 80px;
}
.tabinside {
  min-height: 500px;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 0px;
  background-color: #4d4132;
  text-align: center;
}
.tabs-menu {
  text-align: center;
}
.description {
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 20px;
}
.picture-inside-tab {
  margin-top: 70px;
}
.bold {
  font-weight: 600;
}
.column-centered {
  text-align: center;
}
.column-centered.paddingleft {
  padding-right: 130px;
}
.column-centered.paddingright {
  padding-left: 130px;
}
.white {
  color: white;
}
.client-slider {
  display: block;
  width: 900px;
  height: 500px;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}
.testamonial-slide {
  text-align: center;
}
.link {
  font-family:'Droid Sans', sans-serif;
  color: #c45894;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.testamonial-paragraph {
  max-width: 400px;
  margin-top: 20px;
  color: white;
  font-size: 23px;
  line-height: 25px;
}
.purple-section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #c45894;
}
.email {
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.logo {
  display: block;
  margin: 20px auto 30px;
  float: none;
}
.telephone {
  font-family:'Droid Sans', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.short-field {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 12px;
}
.long-field {
  min-height: 200px;
  margin-top: 15px;
  border-radius: 12px;
}
.submit-button {
  margin-top: 10px;
  padding-right: 65px;
  padding-left: 65px;
  border: 4px solid white;
  border-radius: 15px;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family:'Droid Sans', sans-serif;
  font-size: 22px;
}
.submit-button:hover {
  border-style: solid;
  border-color: #71e635;
  background-color: #71e635;
}
.form-wrapper {
  margin-top: 30px;
}
.map {
  height: 250px;
  margin-top: 55px;
  border-radius: 16px;
}
.two-column {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
}
.powered {
  margin-top: 5px;
  float: right;
  font-family:'Droid Sans', sans-serif;
  color: #746a5d;
}
.footerlogo {
  float: left;
}
.nav-menu {
  float: left;
}
.nav-link {
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: color 500ms ease, font-size 500ms ease;
  -o-transition: color 500ms ease, font-size 500ms ease;
  transition: color 500ms ease, font-size 500ms ease;
  font-family:'Droid Sans', sans-serif;
  color: #c45894;
  font-size: 15px;
  font-weight: 400;
}
.nav-link:hover {
  background-color: transparent;
  color: #71e635;
  font-size: 15px;
  font-weight: 400;
}
.icon:focus {
  opacity: 1;
}
.link-in-text {
  color: #c45894;
  text-decoration: none;
}