body {
	background-color: #666;
	padding-top: 40px;
}


.firstsection {
	background-color: #fff;
	height:200px;
}


.secondsection {
	background-color: #fff;
	padding: 20px;
}

.thirdsection {
	background-color: #fff;
	height:130px;
}

.firstTextField {
	margin-top: 80px;
	font-size: 72px;
}

.editpanel {
	list-style-type: none;
	font-family: "Calibri", Helvetica, san-serif;
	font-size: 18px;
	vertical-align: center;
	color:#fff;
}

.glyphicon {
	padding: 10px;
}

.showicon {
	opacity: 0.50;
	color: #000;
}

.showicon:hover {
	opacity: 1;
	color: #666;
}

.panelItemLabel {
	font-size: 26px;
}

.sectionoff {
	background-color: #cccccc;
	color: #999999;
}

.edit {
	background-color: #FF8448;
	height:40px;
}

.row-fluid {
	border-bottom: 1px solid #666;
}

.ok {
	background-color: #71E635;
	height:40px;
	border-bottom: 1px solid #666;
}

.done {
	background-color: #cccccc;
	height:40px;
	color:#999999;
	border-bottom: 1px solid #666;
}
